@import "tailwindcss";

:root {
  --background: #fafbfdfa; /* Dark Navy */
  --foreground: #7b79ff; /* Light Gray */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Cairo', sans-serif;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Cairo';
  src: url('/public/fonts/Cairo-Regular.ttf') format('truetype');
  font-weight: 400; /* الوزن الافتراضي للخط العادي */
  font-style: normal;
  font-display: swap; /* للسماح للصفحة بالتحميل أثناء تحميل الخط */
}

/* تعريف خط Cairo-Bold */
@font-face {
  font-family: 'Cairo';
  src: url('/public/fonts/Cairo-Bold.ttf') format('truetype');
  font-weight: 700; /* الوزن للخط العريض/الغامق */
  font-style: normal;
  font-display: swap;
}

:root {
  --sidebar-width: 16rem;
  --sidebar-width-closed: 4rem;
}

.sidebar-open main {
  margin-right: var(--sidebar-width);
}

.sidebar-closed main {
  margin-right: var(--sidebar-width-closed);
}
